@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.case { 
    width: 150px;
    height: 100px;
    background-color: red;
}

.line {
    height: 50vh;
}

.box {
    display: flex;
    justify-content: center;
}

.sizeline {
    font-size: 12vh;
}

.dice {
    height: 100px;
    width: 100px;  
}

.currentPlayer {
    font-weight: 900;
    text-decoration: underline;
}